# Keboola Storage API (set as Keboola secrets in production)
KBC_URL=https://connection.keboola.com
KEBOOLA_TOKEN=your_keboola_storage_api_token

# Keboola Storage table IDs
KBC_SOURCE_TABLE_ID=in.c-CSAS_JS.KS_SOURCE_TABLE
KBC_FILTER_TABLE_ID=in.c-CSAS_JS.KS_FILTERS
